.aboutUs {
    text-align: center;
    padding: 50px;
    font-family: var(--font-family-body);
    background-color: var(--color-background);
    filter: brightness(95%);

    color: var(--color-text);


    &-content {
        padding: 5px;
        font-size: 1.1rem;
    }
}
