@import "../../Variables.scss";

.projects {
    position: relative;
    padding-bottom: $global-menu-height-withPadding;

    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.section {
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    background-color: #F3F3F3;
    box-shadow: var(--framer-fresco-insertImage-shadow, 0px 4px 8px 0px rgba(0, 0, 0, .1));

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: transform .3s ease-in-out;

    &:hover {
        transform: translateY(-10px);
    }

    &-empty {
        height: 370px;
        width: 295px;
    }

    &-options {
        padding: 0 10px;
        margin: 10px;
    }
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 150px;
    fill: #cecaca;
}