@import "../../Variables.scss";

.menu {
    position: fixed;
    bottom: 50px;
    left: 0;
    right: 0;
    border: 1px solid gray;
    border-bottom: 5px solid #6F56F9;

    display: flex;
    flex-direction: column;
    z-index: $global-z-index-4;

    &-item {
        background-color: white;
        border: 1px solid gray;

        &-title {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;

            background-color: #f3f1fb;
            color: #000624;
            padding: 10px;
            font-weight: bold;

            &:hover {
                cursor: pointer;
            }

            &-icon {
                width: 15px;
                height: 15px;

                path {
                    fill: #6F56F9;
                }
            }
        }

        &-body {
            background-color: white;
            overflow: scroll;
            height: 59vh;
        }
    }
}