.main {
    padding: 5px;
    position: fixed;
    right: 14px;
    bottom: 65px;
    z-index: 20;
    background-color: white;
    border-radius: 50%;

    button {

        &:active,
        &:hover {
            border-radius: 50%;
            cursor: pointer;
        }
    }
}

.iconButton {
    border: 1px solid #feefcd;
    border-radius: 50%;
    box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2);
}

.avatar {
    border-radius: 40%;
}

.button {
    &:hover {
        border-radius: 50%;
    }
}