@import '@radix-ui/themes/styles.css';


:root {
    --maistro-black: #000000;
    --maistro-white: #FFFFFF;
    --maistro-accent-pink: #FF6F7D;
    --maistro-gray-light: #F5F5F5;
    --maistro-gray-medium: #ADADAD;
    --maistro-gray-dark: #444444;
  }
  
  body {
    font-family: 'Inter', sans-serif;
  }
  