@import "../../../Variables.scss";

.content {
    overflow-y: scroll;
    padding-bottom: $global-menu-height-withPadding;

    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.page {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: column;
    max-width: 400px;

    border: 1px solid #d7d2d2;
    margin: 20px;
    padding: 10px;
    border-radius: 15px;
    background-color: #eeeeee;

    &-preview {
        position: relative;
    }

    &-content {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
    }
}

.menu {
    position: fixed;
    bottom: $global-menu-height;
    left: 0;
    right: 0;
    border: 1px solid gray;
    border-bottom: 5px solid #6F56F9;

    display: flex;
    flex-direction: column;
    z-index: $global-z-index-4;
}