@import "../../../Variables.scss";

.templates {
    padding: 30px 20px;
    position: relative;
    padding-bottom: $global-menu-height-withPadding;

    &-content {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.template {
    min-height: 240px;
    width: 150px;
}