.section {
    padding: 10px;
    border-radius: 8px;
    margin: 10px;
    background-color: #F3F3F3;
    box-shadow: var(--framer-fresco-insertImage-shadow, 0px 4px 8px 0px rgba(0, 0, 0, .1));

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;

    transition: transform .3s ease-in-out;
    &:hover {
        transform: translateY(-10px);
    }

    &-empty {
        min-height: 240px;
        min-width: 160px;
    }
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.icon {
    height: 150px;
    fill: #cecaca;
}