@import "../../Variables.scss";

.list {
    background-color: none;

    &-dragging {
        background-color: beige;
    }
}

.item {
    background-color: none;
    position: relative;
    background-color: var(--accent-1);

    &-wrapper {
        display: flex;
    }

    &-dragging,
    &-interacting {
        border: 3px dashed var(--accent-contrast);
    }

    &-helper {
        position: absolute;
        top: 8px;
        right: 10px;
        z-index: $global-z-index-3;
        display: flex;
        align-items: center;
        justify-content: end;
        background-color: var(--accent-1);
        padding: 5px;

        &-button {
            background-color: var(--accent-1);
            padding: 3px;
            width: 25px;
            height: 25px;
            margin: 0 3px;

            &:hover {
                cursor: pointer;
                background-color: var(--accent-4);
            }
        }

        &-icon {
            width: 15px;
            height: 15px;

            &-down {
                transform: rotate(180deg);
            }
        }
    }
}