.servicesAccordion {
    padding: 50px;
    background-color: #e0e0e0;

    .service+.service {
        margin-top: 10px;
    }

    .title {
        width: 100%;
        text-align: left;
        background-color: #ccc;
        color: #333;
        padding: 10px;
        border: none;
        cursor: pointer;
    }

    .content {
        padding: 10px;
        background-color: #ddd;
        color: #333;
    }
}
