@import "../../../Variables.scss";

.seo-viewer {
    padding: 20px;
    background: #fff;
    margin-left: -10px;
    margin-top: 10px;

    &-title {
        font-size: 18px;
        font-weight: normal;
        line-height: 19px;
        white-space: nowrap;
        text-overflow: ellipsis;
        color: #1a0dab;
    }

    &-url {
        font-size: 14px;
        line-height: 16px;
        margin: 3px 0 5px;
        color: #006621;
    }

    &-description {
        font-size: 13px;
        line-height: 1.4;
        word-wrap: break-word;
        color: #545454;
    }
}

.open-graph {
    max-width: 300px;
    background-color: rgb(214, 241, 200);
    border-color: rgba(209, 213, 219, 1);
    border-width: 1px;
    border-radius: .75rem;
    overflow: hidden;

    &-image {
        object-fit: cover;
        width: 100%;
        height: auto;
        max-width: 100%;
        display: block;
        vertical-align: middle;
        border-style: solid;
    }

    &-section {
        padding: 1rem;

        &-title {
            font-weight: 500;
            font-size: .875rem;
            line-height: 1.25rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &-description {
            color: rgba(75, 85, 99, 1);
            font-size: .875rem;
            line-height: 1.25rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }

        &-url {
            color: rgba(156, 163, 175, 1);
            font-weight: 300;
            font-size: .875rem;
            line-height: 1.25rem;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
        }
    }
}