.section {
    padding: 5px;
    border-radius: 8px;
    margin: 7px;
    background-color: #F3F3F3;
    box-shadow: var(--framer-fresco-insertImage-shadow, 0px 4px 8px 0px rgba(0, 0, 0, .1));

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    flex-direction: column;
    text-align: center;
    transition: transform .1s ease-in-out;

    &:hover {
        transform: translateY(-10px);
    }

    &-empty {
        min-height: 240px;
        min-width: 140px;
    }
}

.content {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    scale: 0.9;
}

.icon {
    height: 150px;
    fill: #cecaca;
}

.description {
    font-weight: bold;
}