$global-z-index-1: 1;
$global-z-index-2: 2;
$global-z-index-3: 3;
$global-z-index-4: 4;
$global-z-index-5: 5;

$global-menu-height: 80px;
$global-menu-height-withPadding: 60px;

$colour-primary: #FFC94A;
$colour-secondary: #453F78;
$colour-text: #333333;
$colour-background: #F0F0f0;
$colour-neutral: #e6e6e6;
$colour-accent: #d9d9d9;